<div class="container">
	<div class="hero container">
    	<div class="row">
    		<div class="col-md-12 aboutme">Arquiteto, analista e desenvolvedor web. Javanes por necessidade. O Java paga minhas contas. Rubista por paixão. Amo o que faço, especialmente se fizer em Ruby. Backend ou Frontend? Os dois, HTML, CSS, JS, Mobile, qualquer coisa...!? Não tem problema, basta ser divertido e prazeroso. Quer saber mais? Veja aqui...</div>
    	</div>
	</div>
</div>
