<div class="container">
	<div class="hero container">
    	<div class="row">
    		<div class="col-md-12 aboutme">I'm a brazilian engineer, analyst and web developer. Java developer by necessity. Ruby developer by passion. I love web development, especially when using ruby. Back-end or Front-end? Both. HTML, CSS, JS, Mobile and all about the web.
    		</div>
    	</div>
	</div>
</div>
